@CHARSET "ISO-8859-1";
body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: #EEF0F3;
}

/* Header Bus */
.header-bus {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	width: 100%;
	z-index: 0;
	-webkit-transition: height 1s ease-in-out;	
	-moz-transition: height 1s ease-in-out;	
	-o-transition: height 1s ease-in-out;	
	transition: height 1s ease-in-out;
	background-color: #003B63;
}
.login_anexo{
	position: absolute;
	z-index: -1;
	top: 0;
    bottom: 0;
    left: -125px;
    right: 0;
}
#main{
	background-color: rgba(0, 0, 0, 0.45);
	max-width: 350px;
	padding: 30px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
/*MAIN-USUARIO*/
#main.background-white{
	background-color: #FFFFFF;
}
#main.background-white .mdl-checkbox__label,
#main.background-white .mdl-textfield__label{
	color: #757575;
}
#main.background-white .mdl-textfield__input{
	border-bottom: 1px solid #757575;
}
#main.background-white .mdl-checkbox.is-checked .mdl-checkbox__box-outline, 
#main.background-white .mdl-checkbox__box-outline{
	border: 2px solid #757575;
}
#main.background-white .mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
	background-color: #757575;
}
#main button{
background-color: #003B63;
color: #FFFFFF;
width: 100%;
margin: 20px 0;
}

#main video{
    position: absolute;
    top: -72px;
    right: -250px;
    height: 131%;
    z-index: -1;
    width: 825px;
}

#opacity{
	position: absolute;
	opacity: 0.65;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: #000;
}

.mdl-textfield__label{
color: #FFFFFF;
}

.mdl-textfield__input{
border-bottom: 1px solid #FFFFFF;
}

#main h1{
font-size: 30px;
color: #FFFFFF;
}

.mdl-textfield{
color: #FFFFFF;	
width: 100%;
}

.mdl-checkbox__label{
   color: #fff;
   font-size: 13px;
   font-weight: 300;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline,
.mdl-checkbox__box-outline{
border: 2px solid #fff;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
background-color: #FFFFFF;
}

#showpas {
text-decoration: none;
min-width: 0;
}
#clave-show.is-dirty .see-pass{
display: block;
}
.see-pass {
   position: absolute;
   right: 5px;
   bottom: 25px !important;
   display: none;
   cursor: pointer;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   padding: 0;
}