@CHARSET "ISO-8859-1";

.mdl-layout__header-row .btn-group button:hover{
    background-color: inherit;
}
.mdl-layout__header-row .btn-group.open .dropdown-toggle{
    box-shadow: inherit;
}

.mdl-layout__container{
    background-color: #EEF0F3;
}
.mdl-layout__header-row{
    height: 55px;
}
.mdl-layout__header{
    min-height: 55px;
}
.mdl-layout-title{
    padding: 0 15px !important;
	text-align: center;
}
.mdl-layout-title i{
    color: #8FA5AD;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover i,
.mdl-navigation__link.active i{
    color: #003B63;
}
.mdl-navigation__link.active .arrow-right{
    display: block;
}
.mdl-navigation__link i{
    font-size: 24px;
    color: #7E97A1;
}
.mdl-navigation__link p{
    margin: 0;
    color: #8FA5AE;
    font-size: 12px;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header{
    margin-left: 0;
    width: 100%;
}
.mdl-layout--fixed-drawer>.mdl-layout__content{
    margin-left: 100px;
}

.mdl-layout__header{
    background-color: #FFFFFF;
}
.mdl-layout__drawer{
    background-color: #FEFEFE;
    width: 100px;
}

.login p {
    color: #757575;
    font-weight: bold;
    margin: 0;
    text-transform: initial;
}
.login img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}

@media ( max-width : 1024px ) {
	.mdl-layout--fixed-drawer>.mdl-layout__content{
		margin-left: 0;
	}
}

/*V-MAIN*/
.cont-welcome{
	margin-top: 20px;
	position: relative;
	max-width: 700px !important;
}
.cont-wel-user,
.photo-wel{
	width: 100%;
	text-align: center;
}
.cont-wel-user p{
	line-height: 20px;
	color: #fff;
}
.cont-welcome .photo-wel img{
	border-radius: 50%;
	max-width: 85px;
}.
.cont-wel-user a{
	margin-right: 20px !important;
	color: #fff;
}
.cont-welcome .cont-module{
	background: #fff;
	margin-top: 30px;
	text-align: left;
	padding: 20px 20px 80px 20px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.cont-welcome .cont-module ul li{
	color: #5E5E5E;
	font-size: 15px;
}
.cont-module p {
	color: #5E5E5E;
}
.cont-wel-user h4{
	color: #fff;
	margin: 10px 0;
}
.cont-module  h4{ 
	color: #5E5E5E;
    margin: 0;
    margin-bottom: 20px;
	font-size: 20px;
}
.cont-module img{
	position: absolute;
    max-width: 80px;
    bottom: 20px;
	right: 20px;
}
.cont-welcome-bg{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	height: 450px;
	background-color: #225578;
}
.cont-welcome .cont-module ul li a{
	color: #225578;
	cursor: pointer;
}
@media (min-width: 768px) {
	.cont-welcome-bg{
    	height: 350px;
 	}	
	.cont-welcome .cont-module{
		padding: 25px 30px;
	}
	.photo-wel{
		width: 135px;
		display: inline-block;
		vertical-align: middle;
	}
	.cont-wel-user{
		width: calc(100% - 145px);
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
	.cont-module img{
	    max-width: 115px;
	}
	.cont-module  h4{
		font-size: 24px;
	}
	.cont-welcome .photo-wel img{
		max-width: 115px;
	}
}