@CHARSET "ISO-8859-1";

main section {
	padding: 15px;
	-webkit-transition: padding .5s linear, padding-right .5s linear;	
	   -moz-transition: padding .5s linear, padding-right .5s linear;	
	    -ms-transition: padding .5s linear, padding-right .5s linear;
	     -o-transition: padding .5s linear, padding-right .5s linear;
		    transition: padding .5s linear, padding-right .5s linear;	
}

#confiabilidad-container {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.logo-sistema{
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	margin: auto;
}
.logo-sistema img{
	max-width: 50px;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #003B63;
}

.mdl-textfield__label:after{
	background-color: #003B63;
}

.mdl-content-cards {
	text-align: left;
	margin:auto;
	width: 100%;
	max-width: 1120px;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	     -o-transition: all .3s ease-in-out;
		    transition: all .3s ease-in-out;
}
.mdl-card__menu {
	right: 5px;
	top: 10px;
    text-align: right;
	width: -webkit-calc(100% - 10px);
	width: -moz-calc(100% - 10px);
	width: -ms-calc(100% - 10px);
	width: -o-calc(100% - 10px);
	width: calc(100% - 10px);
}
.mdl-card .mdl-card__title h2{
	font-size: 20px;
	color: #757575;
}
.mdl-card-nivel-general{
	max-width: 350px;
	height: 330px;
	float: left;
	margin-top: 0px;	
	margin-bottom:10px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;	
	z-index: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;	
}
.mdl-card-niveles{
	max-width: 350px;
	height: 160px;
	float: left;
	margin-top: 0px;	
	margin-bottom:10px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;	
	z-index: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;	
}
.mdl-card-graphics{
	max-width: 535px;
	margin-top: 0px;	
	margin-bottom:10px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;	
	z-index: 1;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;	
}
.mdl-card__supporting-text{
	width: 100%;
}
.mdl-card__actions{
	padding: 16px;
	text-align: right;
}

#mantenimiento-container,
#inspecciones-container,
#limpieza-container,
#residuos-container{
    margin: 5px 20px 40px 20px;
    height: 6px;
    position: relative;
}